// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.

// RLF - FONTS
$font-family-base: 'Lato', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
// overrides default border radius of 0.25, globally across the site
$border-radius: 0;

// RLF - @font-face font
// $font-family-base: 'Uni-Sans', sans-serif; for a font you've used @font-face for




// RLF - if you want to change breakpoints or add extra ones for i.e. mdlg or xxl screens

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   mdlg: 840px,
//   lg: 992px,
//   xl: 1400px,
//   xxl: 1800px
// ) !default;


// RLF - and i.e. change the container widths too

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   mdlg: 780px,
//   lg: 960px,
//   xl: 1340px,
//   xxl: 1620px
// ) !default;
